[submodule ".vim/pack/default/start/vim-fugitive"]
	path = .vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
        shallow = true
[submodule ".vim/pack/default/start/vim-hcl"]
	path = .vim/pack/default/start/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl.git
        shallow = true
[submodule "/Users/nihaldayal/.vim/pack/default/start/vim-terraform"]
	path = /Users/nihaldayal/.vim/pack/default/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "/Users/nihaldayal/.vim/pack/default/start/coc.nvim"]
	path = /Users/nihaldayal/.vim/pack/default/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
