[submodule ".vim/pack/default/start/ale"]
	path = .vim/pack/default/start/ale
	url = https://github.com/dense-analysis/ale.git
	shallow = true
[submodule ".vim/pack/default/start/vim-colorschemes"]
	path = .vim/pack/default/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
  shallow = true
[submodule ".vim/pack/default/start/vim-fugitive"]
	path = .vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
